<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-4.2.xsd">


<import resource="dghoneclick-servlet.xml" />
	<security:http pattern="/user/externalUrlCsv/**" security='none' />
	<security:http pattern="/api/**" security='none' />
	<security:http auto-config="true" use-expressions="true" >
		
		
		<security:intercept-url pattern="/user/**" access="hasRole('ROLE_USER')" />
		<security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/main/**" access="permitAll"/>
		<security:logout delete-cookies="JSESSIONID" invalidate-session="true" logout-success-url="/logout" />

	</security:http>
	
	<context:annotation-config />
	
	<!-- <bean id="httpStatusReturningLogoutSuccessHandler" class="org.springframework.security.web.authentication.logout.HttpStatusReturningLogoutSuccessHandler"/> -->
	
	<bean id="myAuthenticationSuccessHandler" class="com.dgh.handler.CustomAuthenticationSuccessHandler" />
	<!-- <bean id="myAuthenticationFailureHandler" class="com.dgh.handler.CustomAuthenticationFailureHandler" /> -->
	
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<constructor-arg>
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter" />
				<bean class="org.springframework.security.access.vote.AuthenticatedVoter" />
			</list>
		</constructor-arg>
	</bean>

	<!-- <bean id="serverErrorHandler" class="business_logic.controller.ServerErrorFailureHandler"/> -->

	<bean id="logoutRedirectToAny"
		class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
		<property name="targetUrlParameter" value="redirectTo" />
	</bean>

	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder ref="encoder" />
			<security:jdbc-user-service	data-source-ref="dataSource"
				users-by-username-query="select username, password, enabled from SSO_USERS where lower(username)=lower(?) and enabled=1" 
				authorities-by-username-query="select u1.username, u2.role from SSO_USERS u1, SSO_USER_ROLES u2 where u1.id = u2.user_id and lower(u1.username)=lower(?) and u1.enabled=1" />
			
		</security:authentication-provider>
	</security:authentication-manager>


	<bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/jdbc.properties"></bean>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.databaseurl}" p:username="${jdbc.username}" p:password="${jdbc.password}"></bean>

</beans>